# Generated during the build
web/lib/
android/app/src/main/assets/www/

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
.DS_Store
QuotationMaker.apk
